body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-image: url('../images/hello.jpg');
    background-repeat: no-repeat;
    background-size: cover
  }

header {
    background-color: #ff2121;
    height: 35px;
    width: 100%;
    opacity: 1;
    margin-bottom: 10px;
  }
  
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #6b0000;
    text-transform: uppercase;
    float: left;
  }
  
header h1.logo:hover {
    color: #f6f8f8;
    text-decoration: none;
  }

  
.container {
    width: 1000px;
    margin: 0 auto;
  }

.menu {
    float: right;
    margin-top: 8px;
  }
  
.menu li {
    display: inline;
  }
  
.menu li + li {
    margin-left: 35px;
  }
  
.menu li a {
    color: #FF8776;
    text-decoration: none;
  }
  
.menu li:hover {
    color: #FF8776;
    text-decoration: underline;
  }
  

  
div.event {
  border-radius: 25px;
  float: right;
  
  width: 450px;
  border: 15px;
  padding: 30px;
  margin: 10x;
  color: #f73232;
  position: absolute;
  top: 200px;
  right: 375px;
  font-size: 10px;
}

.ss-btn {
  border-radius: 25px;
  background-color: #d91010;
  width: 300px;
  border: 15px;
  padding: 15px;
  margin: 10x;
  color: #FF8776;
  position: absolute;
  top: 90px;
  left: 550px;
  text-align: center;
  text-align: center;
  

}
.google-map {
  
  padding-bottom: 50%;
  position: relative;
  top: -225px;
  left: 330px;
  
}

.google-map iframe {
  height: 30%;
  border-radius: 25px;
  width: 50%;
  position: absolute;
}